# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dylib
*.obj

/obj

# Optix libs
bin/cudart64_90.dll
bin/cudnn64_7.dll
bin/optix_denoiser.dll
bin/optix.1.dll
contrib/optix/bin/cudart64_90.dll
contrib/optix/bin/cudnn64_7.dll
contrib/optix/bin/optix_denoiser.dll
contrib/optix/bin/optix.1.dll

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*
